{% extends 'main/base.html' %}
{% load static %}
{% block title %} Cinema login {% endblock %}

{% block content %}
{% load crispy_forms_tags %}

<div class="login_form_container">
    <h1 style="text-align:center">LOGIN TO YOUR ACCOUNT</h1>
    <form action="" method="POST" class="login">
        {% csrf_token %}
        {{login_form|crispy}}
        <div class="login_button_div">
            <button type="submit" class="btn btn-outline-dark"> Login</button>
        </div>
    </form>
</div>
{% endblock %}