{% extends 'main/base.html' %}
{% block title %} Cinema Room Reservation {% endblock %}

{% block content %}
<div class="cinema-room">
    <h1>Movie: {{movie.title}}</h1>
    <h3>Date: {{movie.date}}</h3>
    <h3>Time: {{ movie.time|time:"H:i" }}</h3>
    <h3>Room number: {{movie.room.number}}</h3>
    <hr>
    <div class="cinema_screen"><p>Screen</p></div>
    {% for row in room %}
    <div class="row">
      {% for seat in row %}
        {% if seat == 0 %}
          <a href="" class="seat disabled_seat">Seat:{{ forloop.counter}} Row:{{forloop.parentloop.counter}}</a>
        {% else %}
          <a href="{% url 'reservation_page' movie_id=movie.id seat_num=forloop.counter row_num=forloop.parentloop.counter%}" class="seat">Seat:{{ forloop.counter}} Row:{{forloop.parentloop.counter}}</a>
        {%endif%}
      {% endfor %}
    </div>
    {%endfor%}
  </div>
  {% endblock %}

