{% extends 'main/base.html' %}
{% load static %}

{% block title %} Cinema movies admin {% endblock %}

{% load crispy_forms_tags %}

{% block content %}
<form action="" method="GET" class="form-inline my-4">
    <div class="input-group">
        <input type="text" name="query" class="form-control" placeholder="Enter movie title">
        <div class="input-group-append">
            <button type="submit" class="btn btn-outline-dark">Search</button>
        </div>
    </div>
</form>
<!-- PAGINATION -->
<form method="GET">
    <button type="submit" name="last_page" class="btn btn-outline-dark">Previous page</button>
    <button type="submit" name="next_page" class="btn btn-outline-dark">Next page</button>
</form>
<hr>
<!-- DISPLAING MOVIES -->
{% for movie in movies %}
    <div class="movie-admin-panel">
    {% if movie.backdrop_path %}
        <div class="movie-image">
            <img src="https://image.tmdb.org/t/p/w500/{{ movie.poster_path }}" alt="{{ movie.title }} backdrop" style="max-width: 100%; height: auto;">
        </div>
    {% endif %}
    <div class="movie-admin-data">
        <h2>TITLE: {{ movie.title }}</h2>
        <hr>
        <h2>RATING: {{ movie.vote_average}}</h2>
        <hr>
        <h2>POPULARITY: {{ movie.popularity }}</h2>
        <hr>
        <h3>DESCRIPTION:</h3>
        <p>{{movie.overview}}</p>
        <hr>
        <a href="https://www.themoviedb.org/movie/{{movie.id}}" target="_blank" class="btn btn-outline-dark" style="margin-bottom:1rem;">All movie details</a><br>
        <!-- ONLY FOR ADMINS -->
        {% if user.is_staff  %}
        <a href="{% url 'movie_creator_page' movie.id %}" class="btn btn-outline-dark">Go to movie creation</a>
        {% endif %}
    </div>
    </div>
    <hr>
{% endfor %}

<form method="GET">
    <button type="submit" name="last_page" class="btn btn-outline-dark">Previous page</button>
    <button type="submit" name="next_page" class="btn btn-outline-dark">Next page</button>
</form>
{% endblock %}
